block vars
block title
    title= lecture
html
    include partials/head.pug

    body.bg-light
        include partials/navbar.pug
        .content.container
            each assignment in assignments
                include partials/assignment_block.pug
            .container
                .row
                    include:markdown-it ./../markdown/notes.md
        include partials/footer.pug
