.content.container
    #exercise-container.row
        .col
            include canvas.pug
        #controls-container.col-4

script.
    window.addEventListener("load",function(event) {
        const runner = new ExerciseRunner();
        const exerciseRenderer = new #{exercise.renderer}();

        const canvasId = 'webgl-canvas';

        const canvas = document.getElementById(canvasId);
        canvas.addEventListener('dblclick', () => {
            if(document.fullscreen) {
                document.exitFullscreen();
            } else {
                canvas.requestFullscreen();
            }
        });

        if(exerciseRenderer.isCpuRenderer){
            return;
        }

        runner.initialize(canvasId, exerciseRenderer);

        const webglContextElement = document.getElementById('webgl-context');
        webglContextElement.innerText = runner.renderer.context.aboutString();

        document.getElementById('webgl-status-nav-item').classList.remove('d-none');
    });