* {
    border-radius: 0 !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, a {
    color: #1c75bc;
    font-weight: 300;
}

h4, h5, h6 {
    text-transform: uppercase;
}

.btn-primary {
    background-color: #1c75bc;
    border-color: #1c75bc;
}
.btn-primary:hover {
    background-color: #27aae1;
    border-color: #27aae1;
}

pre, code {
    font-family: 'Source Code Pro';
}

footer {
    padding-top: 6rem;
}

footer {
    padding-bottom: 2rem;
}

section {
    padding-top: 2rem;
}

a:hover {
    text-decoration: none;
}

nav.navbar img {
    height: 1.5rem;
    width: auto;
}

nav .dropdown-menu {
    right: 0;
    left: auto;
}

nav .dropdown-item {
    color: rgba(255, 255, 255, 0.50);
}

nav .dropdown-item:hover {
    color: rgba(255, 255, 255, 0.75);
    background: none;
}

nav .dropdown-item:active {
    color: rgba(255, 255, 255, 1.00);
    background: none;
}

nav .dropdown-divider {
    border-top-color: rgba(255, 255, 255, 0.50);
}

.exercise-thumbnail {
    height: 200px;
    object-fit: cover;
}

#description img {
    width: 65%;
}

label {
    margin-top: 1em;
}

input[type=button] {
    margin-top: 1em;
}

/* file input fix */
input[type=file] {
    display: none;
}

.fileInputWrapper > input {
    margin: 0;
}

#controls-container {
    overflow-y: auto;
}